body, html{
    margin:0;
    padding:0;
}

#pageContent{
    min-height:77vh;
    padding: 10px;
}

#appbar-div{
    box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
}

#adminDiv{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 155vh;
}

#footer{
    background-color: grey;
    color: white;
    min-height: 8vh;
    margin-top: 15px;
    justify-content: baseline;
}

#courseButtons {
    float:inline-end
}

#courseImgBtn {
    display:grid;
    float: right;
    margin-right: 50px;
    min-height: 200px;
    text-align: center;
}

#container {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
}