body, html{
    margin:0;
    padding:0;
}

#pageContent{
    min-height:77vh;
    padding: 10px;
    display: block;
    box-sizing: border-box;
}

#form-div {
    display: flex;
    justify-content: center;
    padding: 2%;
}

#appbar-div{
    box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
}

#adminDiv{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 155vh;
}

#footer{
    background-color: grey;
    color: white;
    min-height: 8vh;
    margin-top: 15px;
    justify-content: baseline;
}


#container {
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
    padding: 15%;
    
}

#courseImgBtn {
    text-align: center;
}